<html>  
<head>  
    <title>Whatsapp Chat Timeline</title> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
</head>  
<body>  
	<div class="jumbotron jumbotron-fluid primary">
	<div class="container">
    <h1 class="display-4 text-success">Whatsapp Chat Timeline</h1>
     <hr class="my-4">
      <p class="lead text-info">Analyzes WhatsApp chat using Python and Google Charts API</p>
    </div>
</div>
   <div style="border: 1px solid black; background-color: rgb(238, 134, 134);">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div> 
    <div class="container">
    	<div class="row">
    		<div class="col-md-6">
    			<div class="panel panel-default">
    			<div class="panel-heading bg-light">	<h3 class="panel-title text-success">Instructions</h3> </div>

      <p>  Upload .txt file exported from Whatsapp Chat in the form given below</p>
      <p> File will be analyzed on server and you will be redirected to page with your analysis</p>

          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading bg-light">
              <h3 class="panel-title text-success">Note</h3>
            </div>
            <p>Code is open-sourced, can be seen on GitHub <a href="https://github.com/kishansairam9/WhatsApp-Chat-Timeline">here</a>, deployed on heroku from same repo</p>
            <p>None of the chats you have uploaded will be stored - <b class="text-danger">no need to worry about privacy </b>(Have a look at source code for proof)</p>
          </div>
        </div>
      </div>
    </div>
     
     <div class="container">
       <h3 class="text-success">Upload File</h3>
       <form action = "/analyze" method = "post" enctype="multipart/form-data">
        <div class="row">
        <div class="form-group" style="margin-right: 3vw">
          <input type="file"   name="file" > 
        </div>  
         <div class="form-group"><button type="submit" class="btn btn-primary" value="Upload">Upload</button>
         </div>
       </div>
    </form>  
   
     </div>
    
    
   <div class="container container-fluid bg-secondary">
      <h3 class="display-5 text-warning">Help Needed!!</h3>

       <p class="lead text-white">I am tired of styling web pages, if you are interested to make this site look better then please send a Pull Request. Looking forward for your contribution :)</p>
   </div>
       
    
   
  
</body>  
</html>  